In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df= pd.read_csv("D:\\domestic_visitors_2016.csv")
df1=pd.read_csv("D:\domestic_visitors_2017.csv")
df2=pd.read_csv("D:\domestic_visitors_2018.csv")
df3=pd.read_csv("D:\domestic_visitors_2019.csv")

In [7]:
def head(n):
    return n.head()

def shape(n):
    return n.shape

def null(n):
    return n.isnull().sum()

def inf(n):
    n.info()
    
def dupli(n):
    return n.duplicated.sum()

def dropna(n):
    n.dropna(inplace=True)

In [13]:
print("2016 \n",head(df))
print("\n")
print("2017 \n",head(df1))
print("\n")
print("2018 \n",head(df2))
print("\n")
print("2019 \n",head(df3))

2016
    district        date     month  year visitors
0  Adilabad  01-01-2016   January  2016   792136
1  Adilabad  01-02-2016  February  2016   937820
2  Adilabad  01-03-2016     March  2016   582946
3  Adilabad  01-04-2016     April  2016   341948
4  Adilabad  01-05-2016       May  2016   252887


2017
    district        date     month  year visitors
0  Adilabad  01-01-2017   January  2017   318799
1  Adilabad  01-02-2017  February  2017    83316
2  Adilabad  01-03-2017     March  2017    27508
3  Adilabad  01-04-2017     April  2017    13946
4  Adilabad  01-05-2017       May  2017    11752


2018
    district        date     month  year visitors
0  Adilabad  01-01-2018   January  2018   320356
1  Adilabad  01-02-2018  February  2018    36550
2  Adilabad  01-03-2018     March  2018    23011
3  Adilabad  01-04-2018     April  2018    14183
4  Adilabad  01-05-2018       May  2018     8197


2019
    district        date     month  year visitors
0  Adilabad  01-01-2019   January  2019    25071
1  Adilabad  01-02-2019  February  2019   406177
2  Adilabad  01-03-2019     March  2019    14347
3  Adilabad  01-04-2019     April  2019     9972
4  Adilabad  01-05-2019       May  2019     6997

In [14]:
print("2016 \n")
print("Total Number of Rows :", df.shape[0])
print("Total Number of Columns :",df.shape[1])
print("\n")

print("2017 \n")
print("Total Number of Rows :", df1.shape[0])
print("Total Number of Columns :",df1.shape[1])
print("\n")

print("2018\n")
print("Total Number of Rows :", df2.shape[0])
print("Total Number of Columns :",df2.shape[1])
print("\n")

print("2019 \n")
print("Total Number of Rows :", df3.shape[0])
print("Total Number of Columns :",df3.shape[1])
print("\n")

2016

Total Number of Rows : 372
Total Number of Columns : 5


2017

Total Number of Rows : 372
Total Number of Columns : 5


2018

Total Number of Rows : 372
Total Number of Columns : 5


2019

Total Number of Rows : 396
Total Number of Columns : 5